.LinkRobinsOp-badge {
    margin-left: 10px;
    padding: 1px 10px 3px 10px;
    background: @primary-color;
    color: @text-on-dark;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1.4;
    vertical-align: baseline;
}
